In [21]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [22]:
dataset = pd.read_csv("log2.csv")

In [23]:
feature_cols = ['Source Port', 'Destination Port', 'NAT Source Port',
       'NAT Destination Port', 'Action', 'Bytes', 'Bytes Sent',
       'Bytes Received', 'Packets', 'Elapsed Time (sec)', 'pkts_sent',
       'pkts_received']

In [24]:
action_values = {'drop':0, 'allow': 1,'deny':2, 'reset-both':3}
dataset.Action = [action_values[item] for item in dataset.Action]

In [25]:
data = dataset[feature_cols]
target = dataset.Action

In [26]:
dataset.head()

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Action,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received
0,57222,53,54587,53,1,177,94,83,2,30,1,1
1,56258,3389,56258,3389,1,4768,1600,3168,19,17,10,9
2,6881,50321,43265,50321,1,238,118,120,2,1199,1,1
3,50553,3389,50553,3389,1,3327,1438,1889,15,17,8,7
4,50002,443,45848,443,1,25358,6778,18580,31,16,13,18

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(data,target,test_size=0.25)

In [28]:
# from sklearn.preprocessing import MinMaxScaler
# min_max_scaler = MinMaxScaler().fit(X_test)
# X_norm = min_max_scaler.transform(X_train)

In [29]:
# Model ready
lr = LinearRegression()
lr.fit(X_train, Y_train)

LinearRegression()

In [30]:
coef = lr.coef_
coef

array([ 3.65833855e-17,  9.21715624e-17,  8.19577523e-17, -2.94770636e-17,
        1.00000000e+00, -4.78512029e-07,  4.78512029e-07,  4.78512029e-07,
       -2.31593322e-10, -9.78514784e-17,  2.31593566e-10,  2.31593059e-10])

In [31]:
intercept = lr.intercept_
intercept

-5.287992266289621e-12

In [32]:
y_pred = lr.predict(X_test)

In [33]:
#mean-absolute error
MAE = metrics.mean_absolute_error(Y_test,y_pred)

In [34]:
#mean-square error
MSE = metrics.mean_squared_error(Y_test,y_pred)

In [35]:
#Root-mean-square error
RMSE = np.sqrt(MSE)

In [36]:
print("MAE:", MAE*100,'%')
print("MSE:", MSE*100,'%')
print("RMSE:", RMSE*100,'%')

MAE: 1.9680722723111672e-10 %
MSE: 5.301047950895067e-22 %
RMSE: 2.3024004757850156e-10 %

In [37]:
r2_score = metrics.r2_score(Y_test, y_pred)

In [38]:
print(r2_score*100)

100.0

In [39]:
acc = metrics.max_error(Y_test, y_pred)

In [20]:
# metrics.classification_report(Y_test,y_pred)